{% set title = 'About' %}
{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h2>{{title}}</h2>
    </div>
    <h3>Version</h3>
    <ul>
        <li>FuncTree 2 {{version}}</li>
    </ul>
    <h3>Publications</h3>
    <ul>
        <li>Uchiyama T, Irie M, Mori H, Kurokawa K, Yamada T. FuncTree: Functional Analysis and Visualization for Large-Scale Omics Data. PLoS One. 2015 May 14;10(5):e0126967. doi: 10.1371/journal.pone.0126967. eCollection 2015. PubMed PMID: 25974630; PubMed Central PMCID: PMC4431737.</li>
    </ul>
</div>
{% endblock %}
