{% set title = 'About' %}
{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h2>{{title}}</h2>
	    <p>This is FuncTree 2 - version {{version}}</p>
	    <p>FuncTree 2 is actively developed at the <a href="http://comp.bio.titech.ac.jp" target="_blank">Yamada Lab</a>, Tokyo Institute of Technology, 
	    by Yuta Yamate (<a href="https://github.com/yyuuta88" target="_blank">@yyuuta88</a>), Youssef Darzi (<a href="https://github.com/omixer" target="_blank">@omixer</a>),
	    and Takuji Yamada.
	    </p>
	    <p>A <a href="https://github.com/yyuuta88/functree-cli" target="_blank">functree client</a> is also available for batch data visualization</p>
    </div>
    <h3>Publications</h3>
    <div>
    	<p>
    	<i><a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0126967" target="_blank">FuncTree: Functional Analysis and Visualization for Large-Scale Omics Data</a></i>
		<br />
		Uchiyama T, Irie M, Mori H, Kurokawa K, Yamada T.
		<br /> 
		PLoS ONE 10(5): e0126967. 2015 May 14; https://doi.org/10.1371/journal.pone.0126967
		</p>
    </div>
    <hr />
    <h3>Change log</h3>
    <br />
	<h5>Version 0.7.3 (2018-06-19)</h5>
	<ul>
		<li>Performance improvement: mapping time is reduced by a minute. Module coverage computation time is lowered from 80 seconds to 5 seconds. 
	</ul>
</div>
{% endblock %}
