{% set title = 'About' %}
{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h2>{{title}}</h2>
	    <p>This is FuncTree 2 - version {{version}}</p>
	    <p>FuncTree 2 is actively developed at the <a href="http://comp.bio.titech.ac.jp" target="_blank">Yamada Lab</a>, Tokyo Institute of Technology, 
	    by Youssef Darzi (<a href="https://github.com/omixer" target="_blank">@omixer</a>), Yuta Yamate (<a href="https://github.com/yyuuta88" target="_blank">@yyuuta88</a>),
	    and Takuji Yamada.
	    </p>
	    <p>Source code is available on <a href="https://github.com/yamada-lab/functree-ng" target="_blank">github.com/yamada-lab/functree-ng</a></p>
    </div>
    <h3>Publications</h3>
    <div>
    	<p>
    	<i><a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0126967" target="_blank">FuncTree: Functional Analysis and Visualization for Large-Scale Omics Data</a></i>
		<br />
		Uchiyama T, Irie M, Mori H, Kurokawa K, Yamada T.
		<br /> 
		PLoS ONE 10(5): e0126967. 2015 May 14; https://doi.org/10.1371/journal.pone.0126967
		</p>
    </div>
    <hr />
    <h3>Change log</h3>
    <br />
    <h5>Version 0.8.2.0 (2019-03-13)</h5>
	<ul>
		<li>Performance improvement
			<ul>
				<li>Loading of the viewer is reduced from 10 seconds to 2.5 seconds on average (4 fold speedup).
				<li>Visualization of the BRITE hierarchy at KO level does not crash the browser anymore (still not fast though).
			</ul>
		<li>Addition of mapping to a color gradient when submitting to iPath.
		<li>Addition of mapping values to circle area. The default is still to radius.
		<li>Simplification of tooltip text: removal of duplicated names and hierarchy information.
		<li>Fix of the search match highlight in Firefox.
		<li>UX improvement: the size of highlighted nodes on mouseover is reduced to avoid hiding neighboring nodes.
	</ul>
    <h5>Version 0.8.1.0 (2019-03-08)</h5>
	<ul>
		<li>Enhancement of the search box for map elements.
		<li>Addition of a cutoff slider for filtering the data submitted to iPath.
		<li>Handling of matrices with duplicated entries by taking the sum of duplicates.
		<li>Handling of matrices that result in no mapping to the hierarchy.
	</ul>
	<h5>Version 0.8.0.0 (2019-02-28)</h5>
	<ul>
		<li>Improvement of iPath integration
			<ul>
				<li>Addition of control for color, width, opacity, and global map selection.
				<li>Default Functree 2 color palette is used for the first submission.
				<li>Streamlining of the controls layout and the UI.
				<li>Bug fix: selection of leaf nodes with value > 0 only.
			</ul>
		<li>Addition of bar plots to "Module undefined" nodes to highlight the amount of pathway KO not assigned to a module.  
	</ul>
	<h5>Version 0.7.6.3 (2019-02-25)</h5>
	<ul>
		<li>Addition of an annotation section to the TSV reference tree format.
	</ul>
	<h5>Version 0.7.6.2 (2019-02-15)</h5>
	<ul>
		<li>Addition of a toggle action to show/hide node labels.
		<li>Addition of a description to the database selection.
		<li>Upgrade of Flask.
	</ul>    
    <h5>Version 0.7.6.1 (2019-01-18)</h5>
	<ul>
		<li>Addition of a help section on the Functree explorer page, and improvement of the main documentation.
	</ul>
    <h5>Version 0.7.6 (2019-01-15)</h5>
	<ul>
		<li>Addition of a zoom control widget.
		<li>Replacement of D3 categorical20 color palette by the color blind friendly palette tableau10. 
	</ul>
    <h5>Version 0.7.5 (2018-08-10)</h5>
	<ul>
		<li>Addition of an option to divide ortholog abundance by its incidence on each layer.
	</ul>
    <h5>Version 0.7.4 (2018-06-20)</h5>
	<ul>
		<li>Performance improvement: mapping time is reduced to around 15 seconds on dev machine using the example profile.tsv. 
	</ul>
	<h5>Version 0.7.3 (2018-06-19)</h5>
	<ul>
		<li>Performance improvement: mapping time is reduced from 3 minutes to 1 minute and 20 seconds. Module coverage computation time is lowered from 80 seconds to 5 seconds. 
	</ul>
</div>
{% endblock %}
