{% set title = 'Admin Console' %}
{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h2>{{title}}</h2>
    </div>
    <div class="page-header">
        <h3>Statistics</h3>
    </div>
    <ul>
        <li><a href="{{ url_for('route_list') }}">Registered profiles</a> (including private profiles): <span class="badge">{{profiles.count()}}</span></li>
        <li><a href="{{ url_for('route_data') + '#table-tree' }}">Functional Trees</a>: <span class="badge">{{trees.count()}}</span></li>
        <li><a href="{{ url_for('route_data') + '#table-definition' }}">Module definitions</a>: <span class="badge">{{definitions.count()}}</span></li>
    </ul>
    <div class="page-header">
        <h3>Operations</h3>
    </div>
    <ul>
        <li><a href="{{ url_for('route_init_profiles') }}" onclick="return confirm('Are you sure that you want to initialize profile collection?');">Initialize profile collection</a></li>
        <li><a href="{{ url_for('route_update_trees') }}" onclick="return confirm('Are you sure that you want to update Functional Trees?');">Update Functional Trees</a></li>
        <li><a href="{{ url_for('route_update_definitions') }}" onclick="return confirm('Are you sure that you want to update module definitions?');">Update module definitions</a></li>
    </ul>
</div>
{% endblock %}
