{% set title = 'Submit' %}
{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h2>{{title}}</h2>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation"{% if mode == 'basic' %} class="active"{% endif %}><a href="{{ url_for('route_analysis', mode='basic') }}">Basic</a></li>
        <li role="presentation"{% if mode == 'mcr' %} class="active"{% endif %}><a href="{{ url_for('route_analysis', mode='mcr') }}">MCR</a></li>
        <li role="presentation"{% if mode == 'upload_profile' %} class="active"{% endif %}><a href="{{ url_for('route_analysis', mode='upload_profile') }}">Upload profile</a></li>
    </ul>
    <br>
    <form class="form-horizontal" action="{{ url_for('route_analysis', mode=mode) }}" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <fieldset>
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if mode == 'basic' %}
                    <legend>Basic mapping</legend>
                    <p>Calculate module/pathway profile from a <a href="http://www.genome.jp/kegg/ko.html" target="_blank">KO (KEGG Orthology)</a> abundance table:</p>
                    <ul>
                        <li><b>Input file:</b> Tab-separeted KO abundance table</li>
                        <li><b>Database:</b> Source of definitions of module/pathways</li>
                        <li><b>Description:</b> Statement that represents the result</li>
                    </ul>
                    {% elif mode == 'mcr' %}
                    <legend>Module Completion Ratio</legend>
                    <p>Calculate MCR (Module Completion Ratio) profile from a <a href="http://www.genome.jp/kegg/ko.html" target="_blank">KO (KEGG Orthology)</a> abundance table:<p>
                    <ul>
                        <li><b>Input file:</b> Tab-separeted KO abundance table</li>
                        <li><b>Database:</b> Source of definitions of module/pathways</li>
                        <li><b>Description:</b> Statement that represents the result</li>
                    </ul>
                    {% elif mode == 'upload_profile' %}
                    <legend>Upload profile</legend>
                    <p>Upload and register your profile:</p>
                    <ul>
                        <li><b>Input file:</b> Profile JSON</li>
                        <li><b>Database:</b> Source of definitions of module/pathways</li>
                        <li><b>Description:</b> Statement that represents the result</li>
                    </ul>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <div class="form-group{% if form.input_file.errors %} has-error{% endif %}">
                        {{ form.input_file.label(class='col-sm-2 control-label') }}
                        <div class="col-sm-10">
                            {{ form.input_file(class_='form-control-file') }}
                            {% if mode == 'basic' or mode == 'mcr' %}
                            <span class="help-block">Example: <a href="{{ url_for('static', filename='data/profile/example.tsv') }}" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Download</a></span>
                            {% elif mode == 'upload_profile' %}
                            <span class="help-block">Example: <a href="{{ url_for('static', filename='data/profile/example.json') }}" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Download</a></span>
                            {% endif %}
                            {% if form.input_file.errors %}
                            <span class="help-block">
                                {% for message in form.input_file.errors %}
                                    {{ message }}
                                {% endfor %}
                            </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group{% if form.target.errors %} has-error{% endif %}">
                        {{ form.target.label(class='col-sm-2 control-label') }}
                        <div class="col-sm-10">
                            {{ form.target(class_='form-control') }}
                            {% if form.target.errors %}
                            <span class="help-block">
                                {% for message in form.target.errors %}
                                    {{ message }}
                                {% endfor %}
                            </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group{% if form.description.errors %} has-error{% endif %}">
                        {{ form.description.label(class='col-sm-2 control-label') }}
                        <div class="col-sm-10">
                            {{ form.description(class_='form-control', placeholder='Description') }}
                            {% if form.description.errors %}
                            <span class="help-block">
                                {% for message in form.description.errors %}
                                    {{ message }}
                                {% endfor %}
                            </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group{% if form.private.errors %} has-error{% endif %}">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form.private }} {{ form.private.label.text }}
                                </label>
                            </div>
                            {% if form.private.errors %}
                            <span class="help-block">
                                {% for message in form.private.errors %}
                                    {{ message }}
                                {% endfor %}
                            </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            {{ form.submit(class_='btn btn-primary', **{'data-loading-text': 'Submitting...'}) }}
                            <input type="reset" class="btn btn-default" value="Reset">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}

{% block script %}
{{super()}}
<script>
    $('input[type="submit"]').on('click', function() {
        $(this).button('loading');
        setTimeout(function() {
            $(this).button('reset');
        }, 600000);
    });
</script>
{% endblock %}
