{% extends 'viewer.html' %}

{% block sidebar %}
<h5><i class="fa fa-cog" aria-hidden="true"></i> Options <a href="#form-charts" data-toggle="collapse"><i class="fa fa-caret-down" aria-hidden="true"></i></a></h5>
<form id="form-charts" class="collapse in">
    <input type="hidden" name="profile_id" value="{{profile.profile_id}}">
    <input type="hidden" name="mode" value="charts">
    <div class="form-group">
        <label class="control-label">Data series</label>
        <select name="series" class="form-control input-sm">
            {% for series_ in profile.series %}
            <option value="{{loop.index0}}"{% if loop.index0 == series %} selected{% endif %}>{{series_}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary btn-sm">Go</button>
    </div>
</form>
{% endblock %}

{% block mainpane %}
<div class="panel panel-default">
    <div class="panel-heading">
        Data series: <span class="badge">{{profile.series[series]}}</span>
    </div>
    <div class="panel-body">
        <div class="alert alert-warning" role="alert"><strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Oops!</strong> This content is currently unavailable.</div>
    </div>
</div>
{% endblock %}

{% block script %}
{{super()}}
<!-- <script src="https://code.highcharts.com/highcharts.src.js"></script> -->
{% endblock %}
