{% extends 'viewer.html' %}

{% block sidebar %}
<h5><i class="fa fa-cog" aria-hidden="true"></i> Options <a href="#form-charts" data-toggle="collapse"><i class="fa fa-caret-down" aria-hidden="true"></i></a></h5>
<form id="form-charts" class="collapse in">
    <input type="hidden" name="profile_id" value="{{profile.profile_id}}">
    <input type="hidden" name="mode" value="charts">
    <div class="form-group">
        <label class="control-label">Data series</label>
        <select name="series" class="form-control input-sm">
            {% for series_ in profile.series %}
            <option value="{{loop.index0}}"{% if loop.index0 == series %} selected{% endif %}>{{series_}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary btn-sm">Go</button>
    </div>
</form>
{% endblock %}

{% block mainpane %}
<div class="panel panel-default">
    <div class="panel-heading">
        Data series: <span class="badge">{{profile.series[series]}}</span>
    </div>
    <div class="panel-body">
        <form id="form-option" class="form-inline" v-on:submit.prevent="submit">
            <div class="form-group">
                <label class="control-label">Layer</label>
                <select class="form-control input-sm" v-model="layer">
                    <option v-for="l in layers" v-bind:value="l">{% raw %}{{l}}{% endraw %}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Column</label>
                <select class="form-control input-sm" v-model="column">
                    <option v-for="(c, index) in columns" v-bind:value="index">{% raw %}{{c}}{% endraw %}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-sm btn-primary"><i aria-hidden="true" class="fa fa-refresh"></i> Update</button>
        </form>
        <hr>
        <div class="row">
            {% for i in range(4) %}
            <div class="col-md-6">
                <div class="thumbnail">
                    <div id="chart-{{i}}" class="text-center">Loading...</div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{{super()}}
<script src="{{ url_for('static', filename='bower_components/highcharts/highcharts.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/highcharts/modules/exporting.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/highcharts/modules/heatmap.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/charts.js') }}"></script>
<script>
    axios.get('{{ url_for('route_profile', profile_id=profile.profile_id) }}')
        .then(function(res) {
            var profile = res.data[0].profile.map(function(x) {
                x.values = x.values[{{series}}];
                return x;
            });
            var columns = res.data[0].columns[{{series}}];
            var layers = profile.reduce(function(x, y) {
                if (!~x.indexOf(y.layer)) {
                    x.push(y.layer);
                }
                return x;
            }, []);

            new Vue({
                'el': '#form-option',
                'data': {
                    'layer': layers[1],
                    'layers': layers,
                    'column': 0,
                    'columns': columns
                },
                'methods': {
                    'submit': function() {
                        visualize(profile, columns, this.layer, this.column)
                    }
                }
            });

            visualize(profile, columns, layers[1], 0);
        })
        .catch(function(error) {
            console.error(error);
            alert('An error occurred');
        });
</script>
{% endblock %}
