{% set title = 'Contact' %}
{% extends 'layout.html' %}
{% block content %}
<div class="container">
	<div class="page-header">
		<h2>{{title}}</h2>
	</div>
	<p>For questions, feedback or a request of a new functional
		hierarchy please get it touch on <a href="https://github.com/yamada-lab/functree-ng" target="_blank">GitHub project page</a> or feel free to write us any time:</p>
	<ul class="list-unstyled">
		<li>Takuji Yamada: <a href="mailto:takuji@bio.titech.ac.jp">takuji@bio.titech.ac.jp</a>
	</ul>
</div>
{% endblock %}
