{% set title = 'Contact' %}
{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h2>{{title}}</h2>
    </div>
    <p>FuncTree 2 is developed by <a href="http://comp.bio.titech.ac.jp" target="_blank">Yamada Lab</a>, Tokyo Institute of Technology.<br>Our staff includes Yuta Yamate and Takuji Yamada.<br><br>If you have any questions or feedback regarding FuncTree 2, please feel free to <a href="mailto:takuji@bio.titech.ac.jp">contact us</a> at any time.</p>
</div>
{% endblock %}
