{% extends 'viewer.html' %}

{% block sidebar %}
{{super()}}
<form id="form-search" class="collapse in" v-on:submit.prevent="submit">
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="Search map elements" v-model.lazy.trim="searchWord">
            <span class="input-group-btn">
                <button class="btn btn-primary btn-sm" type="submit">
                    <i class='fa fa-search fa-fw'></i>
                </button>
            </span>
        </div>
    </div>
</form>
<hr>
<h5><i class="fa fa-cog" aria-hidden="true"></i> Options <a href="#form-options" data-toggle="collapse"><i class="fa fa-caret-down" aria-hidden="true"></i></a></h5>
<form id="form-options" class="collapse" v-on:submit.prevent="submit" v-on:reset="reset">
    <div class="form-group">
        <label class="control-label">Data series</label>
        <select class="form-control input-sm" v-on:change="clickOptionSeries" v-model="series">
            <option disabled value="">- Select data series -</option>
            <option v-for="(option, index) in options[0]" v-bind:value="index">{% raw %}{{option}}{% endraw %}</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Data mapping: Circle</label>
        <h6>Choose a column to map</h6>
        <select class="form-control input-sm" v-model.number="columnsSingle">
            <option value="">None</option>
            <option v-for="(option, index) in options[1]" v-bind:value="index">{% raw %}{{option}}{% endraw %}</option>
        </select>
        <h6>Color coding</h6>
        <select class="form-control input-sm" v-model="colorizeBy">
            <option value="layer">Layer</option>
            <option value="column">Column</option>
            <option value="entry">Entry</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Data mapping: Stacked bar</label>
        <h6>Choose column(s) to map</h6>
        <select class="form-control input-sm" multiple v-model.number="columnsMultiple">
            <option disabled value="">- Choose column(s) to map -</option>
            <option v-for="(option, index) in options[1]" v-bind:value="index">{% raw %}{{option}}{% endraw %}</option>
        </select>
        <h6>Stacking</h6>
        <div class="checkbox">
            <label>
                <input type="checkbox" v-model="percentage">
                Enable 100% stacking
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Other settings</label>
        <div class="checkbox">
            <label>
                <input type="checkbox" checked="checked" v-model="normalize">
                Enable normalization
            </label>
        </div>
        <h6>Max depth of tree</h6>
        <select class="form-control input-sm" v-model="layer">
            <option v-for="(l, i) in layers" v-bind:value="i">{% raw %}{{l}}{% endraw %}</option>
        </select>
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-refresh" aria-hidden="true"></i> Update</button>
        <button type="reset" class="btn btn-default btn-sm"> Reset</button>
    </div>
</form>
<hr>
<form id="form-entry-detail" class="hidden">
    <div class="form-group">
        <label class="control-label">Selected entry</label>
        <div class="input-group">
            <input type="hidden" name="profile_id" value="{{profile.profile_id}}">
            <input type="hidden" name="mode" value="functree">
            <input type="text" name="root" class="form-control input-sm" placeholder="No entry selected" v-bind:value="entry">
            <div class="input-group-addon" role="button" onclick="$('#form-entry-detail input[name=root]')[0].select(); document.execCommand('copy');">
            <i class="fa fa-clipboard" aria-hidden="true"></i></div>
        </div>
    </div>
    <div class="form-group text-center">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#form-entry-detail .modal">View detail <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
        <button type="submit" class="btn btn-success btn-sm">Set as root</button>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Entry detail: <code v-if="entry">{% raw %}{{entry}}{% endraw %}</code></h4>
                </div>
                <div class="modal-body">
                    <pre>{% raw %}{{detail}}{% endraw %}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form id="form-save-image" class="collapse in" action="{{ url_for('route_save_image') }}" method="POST" target="_blank">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <input type="hidden" name="svg" value="">
    <div class="form-group">
        <label class="control-label"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save image </label>
        <select name="format" class="form-control">
            <option value="pdf">PDF</option>
            <option value="png">PNG</option>
            <option value="ps">PostScript</option>
            <option value="raw-svg">SVG</option>
            <option value="svg">SVG (text as path)</option>
        </select>
    </div>
    <div class="form-group text-center">
        <button type="button" class="btn btn-primary btn-sm" onclick="$('#form-save-image input[name=svg]').val((new XMLSerializer).serializeToString($('#functree > svg')[0])); $('#form-save-image').submit();"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
    </div>
</form>
{% endblock %}

{% block mainpane %}
<div id="functree">
    <ol class="breadcrumb" v-model="items" v-if="items.length">
        <i class="fa fa-dot-circle-o" aria-hidden="true"></i>&nbsp;
        <li v-for="item in items">{% raw %}{{item}}{% endraw %}</li>
    </ol>
</div>
{% endblock %}

{% block script %}
{{super()}}
<script src="{{ url_for('static', filename='bower_components/d3/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/boostrap-menu/dist/BootstrapMenu.min.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/functree.js') }}"></script>
<script>var rootEntry = {% if root %}'{{root}}'{% else %}undefined{% endif %};</script>
<script>
    axios.all([
        axios.get('{{ url_for('route_tree', source=profile.target) }}'),
        axios.get('{{ url_for('route_profile', profile_id=profile.profile_id) }}')
    ])
    .then(axios.spread(function(res0, res1) {
        visualize(res0.data[0], res1.data[0]);
    }))
    .then(function() {
        $('#loading').remove();
    })
    .catch(function(error) {
        $('#loading > div').html('<p><i class="fa fa-exclamation-circle fa-4x fa-fw"></i></p><p>Ajax error</p>');
    });

    var vmEntryDetail = new Vue({
        'el': '#form-entry-detail',
        'data': {
            'entry': '',
            'detail': ''
        }
    });

    var vmBreadcrumb = new Vue({
        'el': '#functree > .breadcrumb',
        'data': {
            'items': []
        }
    });

    $(window).on('beforeunload', function() {
        return null;
    });

    function visualize(tree, profile) {
    	var funcTree = new FuncTree(tree.tree, {{ url_for('route_get_entry') }});
        if (rootEntry) {
            var roots = funcTree.nodes.filter(function(x) {
                return x.entry === rootEntry;
            });
            if (roots.length) {
                funcTree = new FuncTree(roots[0], {{ url_for('route_get_entry') }});
            } else {
                alert('No entry found: ' + rootEntry);
            }
        }
        funcTree
            .create()
            .update();

        var layers = funcTree.nodes.reduce(function(x, y) {
            if (!~x.indexOf(y.layer)) {
                x.push(y.layer);
            }
            return x;
        }, []);

        new Vue({
            'el': '#form-search',
            'data': {
                'searchWord': ''
            },
            'methods': {
                'submit': function() {
                    funcTree.search(this.searchWord);
                }
            }
        });

        new Vue({
            'el': '#form-options',
            'data': {
                'series': '',
                'columnsSingle': '',
                'columnsMultiple': '',
                'normalize': true,
                'percentage': false,
                'colorizeBy': 'layer',
                'options': [
                    profile.series,
                    []
                ],
                'layers': layers,
                'layer': layers.length - 1 - (layers.length < 5 ? 0 : 1)
            },
            'methods': {
                'clickOptionSeries': function() {
                    this.$set(this.options, 1, profile.columns[this.series]);
                },
                'submit': function() {
                    console.log(this);
                    var self = this;
                    var profileDict = {};
                    for (var i in profile.profile) {
                        var node = profile.profile[i];
                        try {
                            profileDict[node.entry] = {
                                'value': node.values[self.series][self.columnsSingle],
                                'values': node.values[self.series]
                                    .filter(function(value, index) {
                                        return self.columnsMultiple.includes(index);
                                    })
                            }
                        } catch (e) {
                            //
                        }
                    }
                    for (var i in funcTree.nodes) {
                        var node = funcTree.nodes[i];
                        if (profileDict[node.entry]) {
                            Object.assign(node, profileDict[node.entry]);
                        }
                    }
                    funcTree
                        .configure({
                            'normalize': self.normalize,
                            'colorizeBy': self.colorizeBy,
                            'percentage': self.percentage,
                            'colorSet': profile.colors.reduce(function(a, b) {
                                a[b[0]] = b[1];
                                var n = profile.columns[self.series].indexOf(b[0]);
                                if (~n) a[n] = b[1];
                                return a;
                            }, {}),
                            'maxDepth': self.layer,
                            '_selectedColumns': {
                                'single': self.columnsSingle,
                                'multiple': self.columnsMultiple
                            }
                        })
                        .initTree(zeroize=false)
                        .update();
                },
                'reset': function() {
                    funcTree
                        .configure(JSON.parse(JSON.stringify(DEFAULT_CONFIG)))
                        .initTree()
                        .update();
                }
            }
        });

        $('#form-search input').autocomplete({
            'minLength': 2,
            'source': funcTree.nodes
                .map(function(x) {
                    return x.entry;
                })
                .filter(function(x, i, self) {
                    return self.indexOf(x) === i;
                })
                .filter(function(x) {
                    return !x.startsWith('*');
                })
                .sort(function(a, b) {
                    a = a.toString().toLowerCase();
                    b = b.toString().toLowerCase();
                    if (a > b) return 1;
                    if (a < b) return -1;
                    return 0;
                })
        });
    }
</script>
{% endblock %}
