{% extends 'layout.html' %}

{% block head %}
{{super()}}
<style>
    .jumbotron {
        background: url('{{ url_for('static', filename='images/jumbotron.jpg') }}') center no-repeat;
        background-size: cover;
        color: #fff;
        text-shadow: 0 1px 3px rgba(0,0,0,0.4), 0 0 30px rgba(0,0,0,0.075);
    }
</style>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>FuncTree 2</h1>
        <p>Visualization and analysis tool for omics data based on biological functional tree</p>
        <p><a class="btn btn-info" href="{{ url_for('route_analysis', mode='basic_mapping') }}" role="button">Get started <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h2>What is FuncTree?</h2>
            </div>
            <p>FuncTree is a web based application, which allows user to visualize, customize, and compute statistical test to understand the biological functionality of their omics data.
            FuncTree allows user to map their omics data on to a pre-defined treemap, which is based on the <a href="http://www.genome.jp/kegg-bin/get_htext?br08902.keg" target="_blank">KEGG brite functional hierarchy</a>.
            This allows user to quickly and comprehensively understand the functional potential of their data, and to develop further hypothesis and scientific insights.</p>
            <p><a class="btn btn-default" href="{{ url_for('route_docs') }}" role="button">View details »</a></p>
            <div class="page-header">
                <h2>Data Visualization</h2>
            </div>
            <p>FuncTree creates hierarchical visualization. In the treemap nodes represent particular biological functions and edges represent hierarchical relationships between the functions.</p>
            <p><a class="btn btn-default" href="{{ url_for('route_docs') }}" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='images/functree.png') }}" class="img-responsive img-thumbnail center-block" alt="Data Visualization">
        </div>
    </div>
</div>
{% endblock %}
