{% extends 'layout.html' %} 
{% block head %} 
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/index.css') }}">
<style>
</style>
{% endblock %} 
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<img src="{{ url_for('static', filename = 'images/home.png')}}" class="img-responsive center-block" alt="Data Visualization">
		</div>
	</div>
</div>
<div class="jumbotron jumbotron-fluid">
	<div id="particles-js"></div>
	<div class="container responsive">
		<h1>FuncTree 2</h1>
		<p>Biologically relevant visualization of omics profiles</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<a class="btn btn-default btn-block action"
				href="{{ url_for('route_analysis', mode='mapping') }}"
				role="button">Map</a>
				<p class="lead text-muted" style="text-align: center">
					KEGG Orthology abundance tables
				</p>
		</div>
		<div class="col-xs-3">
			<a class="btn btn-default btn-block action"
				href="{{ url_for('route_analysis', mode='comparison') }}"
				role="button">Compare</a>
				<p class="lead text-muted" style="text-align: center">
					2 KEGG Orthology abundance tables
				</p>
		</div>
		<div class="col-xs-3">
			<a class="btn btn-default btn-block action"
				href="{{ url_for('route_analysis', mode='display') }}"
				role="button">Display</a>
				<p class="lead text-muted" style="text-align: center">
					tree customizations in TSV or JSON format
				</p>
		</div>
		<div class="col-xs-3">
			<a class="btn btn-default btn-block action"
				href="{{ url_for('route_list') }}"
				role="button">Browse</a>
				<p class="lead text-muted" style="text-align: center">
					the available list of trees
				</p>
		</div>
	</div>
</div>
{% endblock %}
{% block script %} {{super()}}
<script
	src="{{ url_for('static', filename='bower_components/particles.js/particles.min.js') }}"></script>
<script>
    particlesJS.load('particles-js', '{{ url_for('static', filename='particles.json') }}');
</script>
{% endblock %}