{% set title = 'List of Profiles' %}
{% extends 'layout.html' %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h2>{{title}}</h2>
    </div>
    <p>This is a listing of all available profiles. To hide your profile from this list, check <b>"Keep the result private"</b> before the submission.</p>
    <table id="table-profile" class="table table-hover table-striped" width="100%">
        <thead>
            <tr>
                <th>Profile ID</th>
                <th>Database</th>
                <th>Description</th>
                <th>Added at</th>
                <th>Action</th>
            </tr>
        </thead>
        {% for profile in profiles %}
        <tr>
            <td>{{profile.profile_id}}</td>
            <td><a href="{{ url_for('route_data') + '#table-tree' }}">{{profile.target}}</a></td>
            <td>{{profile.description|truncate(50, True)}}</td>
            <td>{{profile.added_at|localtime|strftime('%Y-%m-%d %H:%M:%S %Z')}}</td>
            <td>
                <form action="{{ url_for('route_profile', profile_id=profile.profile_id )}}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="{{ url_for('route_viewer') + '?profile_id={}'.format(profile.profile_id) }}" class="btn btn-default btn-xs"><i class="fa fa-eye" aria-hidden="true"> View</i></a>
                        <a href="{{ url_for('route_profile', profile_id = profile.profile_id) }}" target="_blank" class="btn btn-default btn-xs"><i class="fa fa-download" aria-hidden="true"> Download</i></a>
                        <button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure that you want to parmanently delete this profile?:\n{{profile.profile_id}}');"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>
{% endblock %}

{% block script %}
{{super()}}
<script src="{{ url_for('static', filename='bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
<script>
    $(function() {
        $('#table-profile').DataTable({
            'dom': '<"row"<"col-sm-6"l><"col-sm-6"f>><"row"<"col-sm-12"tr>><"row"<"col-sm-5"iB><"col-sm-7"p>>',
            'columns': [
                {'data': 'Profile ID', 'width': 260},
                {'data': 'Database', 'width': 100},
                {'data': 'Description'},
                {'data': 'Added at', 'width': 180},
                {'data': 'Action', 'width': 200}
            ],
            'order': [[2, 'desc']],
            'scrollX': true,
            'stateSave': true,
            'buttons': [
                {
                    'text': '<i class="fa fa-download" aria-hidden="true"></i> Download TSV',
                    'extend': 'csv',
                    'fieldSeparator': '\t',
                    'fieldBoundary': '',
                    'filename': 'list_profiles',
                    'extension': '.tsv',
                    'exportOptions': {
                        'columns': [0, 1, 2, 3]
                    }
                }
            ]
        });
    });
</script>
{% endblock %}
