{% extends 'viewer.html' %} 

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/pathways.css') }}">
{% endblock %}

{% block sidebar %} 
{{super()}}
<div id="customization-alert" class="alert alert-info alert-dismissible" role="alert" style="margin-top: 15px">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Additional customization</strong> is also available in iPath's <strong>Controls</strong> menu!
</div>
<form id="form-option" v-on:submit.prevent="submit">
	<h5>
		<i class="fa fa-cog" aria-hidden="true"></i> Data options 
		<a href="#data-options" data-toggle="collapse"> <i class="fa fa-caret-down" aria-expanded="true"></i></a>
	</h5>
	<div id="data-options" class="collpase in">
		<div class="form-group">
			<label class="control-label">Data series</label> 
			<select id="series" class="form-control input-sm" v-on:change="dataSeriesChange" v-model="series">
				<option v-for="(option, index) in  options[0]" v-bind:value="index">{% raw %}{{option}}{% endraw %}</option>
			</select>
		</div>
		<div class="form-group">
			<label class="control-label">Column</label> 
			<select class="form-control input-sm" v-model="column">
				<option v-for="(c, index) in options[1]" v-bind:value="index">{% raw %}{{c}}{% endraw %}</option>
			</select>
		</div>
		<div class="form-group">
			<label class="control-label" style="display: block;">Minimum abundance filter 
				<input class="slider" style="margin-top: 10px;" type="range" v-bind:min="options[3][0]" v-bind:max="options[3][1]" v-bind:step="options[3][2]" v-model="cutoff">
			</label>
			<div class="input-group" style="margin-top: 10px;">
				<span class="input-group-addon">{% raw %}{{ options[3][0] }}{% endraw %}</span>
					<input class="form-control input-sm" style="text-align: center;" type="text" v-model="cutoff">
				<span class="input-group-addon">{% raw %}{{ options[3][1].toExponential() }}{% endraw %}</span>
			</div>
		</div>
	</div>
	<h5>
		<i class="fa fa-cog" aria-hidden="true"></i> iPath options 
		<a href="#ipath-options" data-toggle="collapse"> <i class="fa fa-caret-down" aria-expanded="false"></i></a>
	</h5>
	<div id="ipath-options" class="collpase">
		<div class="form-group">
			<label class="control-label">Color <colorpicker :color="color" v-model="color" /></label>
		</div>
		<div class="form-group">
			<label class="control-label">Width <input type="number" min="0" step="1" class="form-control input-sm" v-model="width"></label>
		</div>
		<div class="form-group">
			<label class="control-label">Pathway map</label> 
				<select id="map" class="form-control input-sm" v-model="map">
				<option v-for="(option, index) in  options[2]" v-bind:value="index">{% raw %}{{option}}{% endraw %}</option>
			</select>
		</div>
	</div>
	<div class="form-group text-center">
		<button type="submit" class="btn btn-sm btn-primary">
			<i aria-hidden="true" class="fa fa-refresh"></i> Update
		</button>
	</div>
</form>
{% endblock %} 
{% block mainpane %}
<div class="panel panel-default">
	<div class="panel-body">
		<div id="ipatharea" class="thumbnail">
			<iframe name="ipath" width="100%" height="1000" frameborder="0"> Loading </iframe>
		</div>
	</div>
</div>
{% endblock %} 

{% block script %}

 {{super()}}
<script src="{{ url_for('static', filename='yarn_components/d3/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='yarn_components/vue-color/dist/vue-color.min.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/pathways.js') }}"></script>
<script>
    axios.get('{{ url_for('route_profile', profile_id=profile.profile_id) }}')
        .then(function(res) {
            var profile = res.data[0].profile
                .map(function(x) {
                    x.values = x.values[{{series}}];
                    return x;
                })
                .sort(function(a, b) {
                    if (a.layer > b.layer) return 1;
                    if (a.layer < b.layer) return -1;
                    if (a.entry > b.entry) return 1;
                    if (a.entry < b.entry) return -1;
                    return 0;
                });
            
            const column = 0
            const seriesData = profile.map((x) => {
                return x.values[column];
            });
            
            var dataExtent = d3.extent(seriesData)
            if(dataExtent[0] < 1){
                // get the number of zeros before the first non-zero digit
                var bound = 0
                // if [0] == zero then use [1]
                if(dataExtent[0] == 0){
                	bound = 1	
                }
                const magnitude = -Math.floor( Math.log(dataExtent[bound]) / Math.log(10) + 1)
                // use for step
                dataExtent.push(Math.pow(10, -(magnitude + 1)))
            } else if (dataExtent[0] < 10){
            	dataExtent.push(0.1)
            } else {
            	dataExtent.push(1)
            }

            const ipathForm = new Vue({
                'el': '#form-option',
                'data': {
                	'series': 0,
                    'column': 0,
                    'cutoff': 0,
                    'color': {hex: '#FF800E', a: 1},
                    'width': '10',
                    'map': 0,
                    'options': [
                    	res.data[0].series,
                    	res.data[0].columns[0],
                    	['metabolic', 'secondary', 'microbial', 'antibiotic'],
                    	dataExtent
                    ],
                },
                'methods': {
                	'dataSeriesChange': function() {
                    	this.$set(this.options, 1, res.data[0].columns[this.series]);
                	},
                    'submit': function() {
                    	visualize(profile, this.options[1], this.column, this.cutoff, this.color.hex, this.color.a, this.width, this.options[2][this.map])
                        $('#loading').show();
                    }
                }
            });
//            ipathForm.submit()
        })
        .catch(function(error) {
            console.error(error);
            alert('An error occurred');
        });
 
    // jQuery part, decoupled from Vue
    $(document).ready(function () {
		
$('#loading').hide();
		
    	$('#ipatharea iframe').on("load", function() { 
    		$('#loading').hide();
    		/* 
    		Fix of cross origines: the iframe must be loaded in a WebComponent first then processed 
    		const iframe = $('[name="ipath"]')[0];
  			const elmnt = iframe.contentWindow.document.getElementById("mainNav");
  			$(elmnt).remove(); */
    	})
    })
</script>
{% endblock %}
