{% extends 'viewer.html' %} 
{% block sidebar %} 
{{super()}}
<form id="form-option" v-on:submit.prevent="submit">
	<h5>
		<i class="fa fa-cog" aria-hidden="true"></i> Data options 
		<a href="#data-options" data-toggle="collapse"> <i class="fa fa-caret-down" aria-expanded="true"></i></a>
	</h5>
	<div id="data-options" class="collpase in">
		<div class="form-group">
			<label class="control-label">Data series</label> 
			<select id="series" class="form-control input-sm" v-on:change="dataSeriesChange" v-model="series">
				<option v-for="(option, index) in  options[0]" v-bind:value="index">{% raw %}{{option}}{% endraw %}</option>
			</select>
		</div>
		<div class="form-group">
			<label class="control-label">Column</label> 
			<select class="form-control input-sm" v-model="column">
				<option v-for="(c, index) in options[1]" v-bind:value="index">{% raw %}{{c}}{% endraw %}</option>
			</select>
		</div>
	</div>
	<h5>
		<i class="fa fa-cog" aria-hidden="true"></i> iPath options 
		<a href="#ipath-options" data-toggle="collapse"> <i class="fa fa-caret-down" aria-expanded="false"></i></a>
	</h5>
	<div id="ipath-options" class="collpase">
		<div class="form-group">
			<label class="control-label">Color <input class="form-control input-sm" v-model="color"></label>
		</div>
		<div class="form-group">
			<label class="control-label">Width <input class="form-control input-sm" v-model="width"></label>
		</div>
		<div class="form-group">
			<label class="control-label">Pathway map</label> 
				<select id="map" class="form-control input-sm" v-model="map">
				<option v-for="(option, index) in  options[2]" v-bind:value="index">{% raw %}{{option}}{% endraw %}</option>
			</select>
		</div>
	</div>
	<button type="submit" class="btn btn-sm btn-primary">
		<i aria-hidden="true" class="fa fa-refresh"></i> Update
	</button>
</form>
{% endblock %} 
{% block mainpane %}
<div class="panel panel-default">
	<div class="panel-body">
		<div id="ipatharea" class="thumbnail">
			<iframe name="ipath" width="100%" height="1000" frameborder="0"> Loading </iframe>
		</div>
	</div>
</div>
{% endblock %} 

{% block script %}

 {{super()}}
<script src="{{ url_for('static', filename='dist/js/pathways.js') }}"></script>
<script>
    axios.get('{{ url_for('route_profile', profile_id=profile.profile_id) }}')
        .then(function(res) {
            var profile = res.data[0].profile
                .map(function(x) {
                    x.values = x.values[{{series}}];
                    return x;
                })
                .sort(function(a, b) {
                    if (a.layer > b.layer) return 1;
                    if (a.layer < b.layer) return -1;
                    if (a.entry > b.entry) return 1;
                    if (a.entry < b.entry) return -1;
                    return 0;
                });
            
            const ipathForm = new Vue({
                'el': '#form-option',
                'data': {
                	'series': 0,
                    'column': 0,
                    'color': '#ff800e',
                    'width': '10',
                    'map': 0,
                    'options': [
                    	res.data[0].series,
                    	res.data[0].columns[0],
                    	['metabolic', 'secondary', 'microbial', 'antibiotic']
                    ],
                },
                'methods': {
                	'dataSeriesChange': function() {
                    	this.$set(this.options, 1, res.data[0].columns[this.series]);
                	},
                    'submit': function() {
                    	visualize(profile, this.options[1], this.column, this.color, this.width, this.options[2][this.map])
                        $('#loading').show();
                    }
                }
            });
            ipathForm.submit()
        })
        .catch(function(error) {
            console.error(error);
            alert('An error occurred');
        });
    	$('#ipatharea iframe').on("load", function() { $('#loading').hide(); })
</script>
{% endblock %}
