$navbar_height: 50px;
$svg_width: 1800px;     /* Refer to functree.js */
$svg_height: 1800px;    /* Refer to functree.js */
$footer_height: 20px;


body {
    margin-bottom: 40px;
}

#page-wrapper {
    min-height: 600px;
}

#content-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: $navbar_height 15px $footer_height 15px;

    h3 {
        white-space: nowrap;
    }
}

#content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin-top: 13px;
    display: flex;
}

#sidebar {
    width: 250px;
    min-width: 250px;
    height: auto;
    margin-bottom: 15px;
    padding-right: 15px;
    border-right: solid thin #ddd;
    overflow-y: scroll;
}

.sidebar-closed {
    width: 0px !important;
    min-width: 0px !important;
    margin-bottom: 0px !important;
    padding-right: 0px !important;
}

#sidebar-button {
    position: absolute;
    width: 12px;
    height: 50px;
    top: 50%;
    left: -1px;
    padding: 2px 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 0.5em;
}

#maincontent {
    width: 100%;
    min-width: 600px;
    height: auto;
    margin-bottom: 15px;
    position: relative;
}

#mainpane-wrapper {
    position: relative;
    height: 100%;
    margin-left: 15px;
}

#mainpane {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 55px;
}

#functree {
    width: 100%;
    max-width: $svg_width;
    height: 100%;
    max-height: $svg_height;
    position: absolute;
    border: 1px solid transparent;
    border-color: #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    background-color: #fff;
    overflow: hidden;

    svg {
        position: relative;
        top: 50%;
        left: 50%;
        margin-top: -($svg_width / 2);
        margin-left: -($svg_height / 2);
    }

    .breadcrumb {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 12px;
        z-index: 10;
    }
}

#loading {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 50px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        text-align: center;
        color: #fff;
    }
}

.footer {
    height: $footer_height;
    min-width: 880px;
    z-index: -10;

    .container {
         .text-muted {
             margin: 0;
         }
     }
}
